.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.heroContainer {
  padding: 4.4rem 0;

  display: flex;
  flex-direction: row;
  width: 100%;

  > div {
    width: 50%;
    &:last-child {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.heroTitle {
  color: var(--gray-title);
  font-family: OpenSans !important;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem !important;
}

.heroText {
  margin: 0 0 1.9rem 0;

  font-family: Montserrat;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
}

.heroButton {
  padding: 1rem 5.7rem;
  background-color: var(--green);
  border: none;
  color: var(--white);

  margin-top: 3.1rem;
}

.textMark {
  background-color: rgba(27, 213, 111, 0.2);
}

.checksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0.75rem;
}

.checksContent {
  display: flex;
  p {
    margin: 0 0 0 1rem;
  }
}
